* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.one {
  background-image: url(../images/h_img.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}
.overlay {
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.one .overlay .content {
  margin-top: 300px;
}
.one .overlay .content h1 {
  margin-top: 50px;
  font-weight: bolder;
}
.one .overlay .content #para1 {
  font-weight: bolder;
  font-size: 12px;
}
.one .overlay .content .pictwo {
  margin-top: 120px;
}

/* section two */
.two {
  height: 25vh;
  width: 100vw;
  text-align: center;
}
.two h3 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 60px;
}
.two .para2 {
  font-weight: bolder;
  font-size: 12px;
}
.two .para3 {
  font-weight: bolder;
  font-size: 12px;
}

/* section three */

.three {
  background-image: url(../images/s_image.jpg);
  height: 30vh;
  width: 100vw;
  position: relative;
  background-size: cover;
}
.overlaytwo {
  position: absolute;
  height: 30vh;
  width: 100vw;
  color: white;
  text-align: center;
}

.three h3 {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 60px;
}

.three .para4 {
  font-weight: bolder;
  font-size: 12px;
}

.three .para5 {
  font-weight: bolder;
  font-size: 12px;
}

.three .para6 {
  font-weight: bolder;
  font-size: 12px;
}

/* section four */

.four {
  height: 40vh;
  width: 100vw;
  text-align: center;
}
.four h3 {
  margin: 50px;
  font-weight: bolder;
}
.four .bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.four .bag .boxone {
  border: solid transparent 1px;
  width: 30vw;
  font-weight: bold;
}

.four .bag .boxone h5 {
  font-weight: bolder;
}
.four .bag .boxone #textone {
  display: none;
}

.four .bag .boxtwo {
  border: solid transparent 1px;
  width: 30vw;
  font-weight: bold;
}
.four .bag .boxtwo h5 {
  font-weight: bolder;
}
.four .bag .boxtwo #texttwo {
  display: none;
}
.four .bag .boxthree {
  border: solid transparent 1px;
  width: 30vw;
  font-weight: bold;
}
.four .bag .boxthree h5 {
  font-weight: bolder;
}
.four .bag .boxthree #textthree {
  display: none;
}

/* section five */

.five {
  height: 50vh;
  width: 100vw;
  text-align: center;
}
.five h3 {
  font-weight: bolder;
}
.five .bagtwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.five .bagtwo .boxfour {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagtwo .boxfive {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagtwo .boxsix {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagtwo .boxseven {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}
/* boxfour */
.imageone {
  background-image: url(../images/work4.png);
  height: 300px;
  width: 300px;
  position: relative;
}
.imageone .overlaythree {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: block;
}
.imageone .overlaythree .logo {
  margin-top: 60px;
   color: aliceblue;
}
.imageone .overlaythree .logo h3 {
  padding: 10px;
}
/* boxfive */
.imagetwo {
  background-image: url(../images/work3.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagetwo .overlayfour {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: block;
}
.imagetwo .overlayfour .logo {
  margin-top: 60px;
  color:aliceblue;
}
.imagetwo .overlayfour .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}

/* boxsix */

.imagethree {
  background-image: url(../images/work2.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagethree .overlayfive {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: block;
}
.imagethree .overlayfive .logo {
  margin-top: 60px;
  color: orange;
}
.imagethree .overlayfive .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}
/* boxseven */

.imagefour {
  background-image: url(../images/work1.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagefour .overlaysix {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: block;
}
.imagefour .overlaysix .logo {
  margin-top: 60px;
  color: orange;
}
.imagefour .overlaysix .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}
