* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* section one */
.one {
  background-image: url(../images/h_img.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}
.overlay {
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.one .overlay .content {
  margin-top: 300px;
}
.one .overlay .content h1 {
  margin-top: 50px;
  font-weight: bolder;
}
.one .overlay .content #para1 {
  font-weight: bolder;
  font-size: 12px;
}
.one .overlay .content .pictwo {
  margin-top: 120px;
}

/* section two */
.two {
  height: 25vh;
  width: 100vw;
  text-align: center;
}
.two h3 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 60px;
}
.two .para2 {
  font-weight: bolder;
  font-size: 12px;
}
.two .para3 {
  font-weight: bolder;
  font-size: 12px;
}

/* section three */

.three {
  background-image: url(../images/s_image.jpg);
  height: 30vh;
  width: 100vw;
  position: relative;
  background-size: cover;
}
.overlaytwo {
  position: absolute;
  height: 30vh;
  width: 100vw;
  color: white;
  text-align: center;
}

.three h3 {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 60px;
}

.three .para4 {
  font-weight: bolder;
  font-size: 12px;
}

.three .para5 {
  font-weight: bolder;
  font-size: 12px;
}

.three .para6 {
  font-weight: bolder;
  font-size: 12px;
}

/* section four */

.four {
  height: 40vh;
  width: 100vw;
  text-align: center;
}
.four h3 {
  margin: 50px;
  font-weight: bolder;
}
.four .bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.four .bag .boxone {
  border: solid transparent 1px;
  width: 30vw;
  font-weight: bold;
}

.four .bag .boxone h5 {
  font-weight: bolder;
}
.four .bag .boxone #textone {
  display: none;
}

.four .bag .boxtwo {
  border: solid transparent 1px;
  width: 30vw;
  font-weight: bold;
}
.four .bag .boxtwo h5 {
  font-weight: bolder;
}
.four .bag .boxtwo #texttwo {
  display: none;
}
.four .bag .boxthree {
  border: solid transparent 1px;
  width: 30vw;
  font-weight: bold;
}
.four .bag .boxthree h5 {
  font-weight: bolder;
}
.four .bag .boxthree #textthree {
  display: none;
}

/* section five */

.five {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.five h3 {
  font-weight: bolder;
}
.five .bagtwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.five .bagtwo .boxfour {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagtwo .boxfive {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagtwo .boxsix {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagtwo .boxseven {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}
/* boxfour */
.imageone {
  background-image: url(../images/work4.png);
  height: 300px;
  width: 300px;
  position: relative;
}
.imageone .overlaythree {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: none;
}
.imageone .overlaythree .logo {
  margin-top: 60px;
  color: aliceblue;
}
.imageone .overlaythree .logo h3 {
  padding: 10px;
}
/* boxfive */
.imagetwo {
  background-image: url(../images/work3.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagetwo .overlayfour {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: none;
}
.imagetwo .overlayfour .logo {
  margin-top: 60px;
  color: aliceblue;
}
.imagetwo .overlayfour .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}

/* boxsix */

.imagethree {
  background-image: url(../images/work2.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagethree .overlayfive {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: none;
}
.imagethree .overlayfive .logo {
  margin-top: 60px;
}
.imagethree .overlayfive .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}
/* boxseven */

.imagefour {
  background-image: url(../images/work1.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagefour .overlaysix {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: none;
}
.imagefour .overlaysix .logo {
  margin-top: 60px;
}
.imagefour .overlaysix .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}

/* bagthree */

.five .bagthree {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}
.five .bagthree .boxeight {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagthree .boxnine {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagthree .boxten {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.five .bagthree .boxeleven {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

/* boxeight */

.imagefive {
  background-image: url(../images/work5.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagefive .overlayseven {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.3);
  display: none;
}
.imagefive .overlayseven .logo {
  margin-top: 60px;
}
.imagefive .overlayseven .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: rgb(176, 218, 255);
}
/* boxnine */

.imagesix {
  background-image: url(../images/work6.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imagesix .overlayeight {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: none;
}
.imagesix .overlayeight .logo {
  margin-top: 60px;
}
.imagesix .overlayeight .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: rgb(167, 213, 253);
}
/* boxten */

.imageseven {
  background-image: url(../images/work7.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imageseven .overlaynine {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: none;
}
.imageseven .overlaynine .logo {
  margin-top: 60px;
}
.imageseven .overlaynine .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}
/* boxeleven */

.imageeight {
  background-image: url(../images/work8.png);
  background-size: cover;
  height: 300px;
  width: 300px;
  position: relative;
}
.imageeight .overlayten {
  position: absolute;
  text-align: center;
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255, 0.2);
  display: none;
}
.imageeight .overlayten .logo {
  margin-top: 60px;
}
.imageeight .overlayten .logo h3 {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
}

/* section six */
.six {
  position: relative;
  background-image: url(../images/c_image.png);
  height: 75vh;
  width: 100vw;
  background-size: cover;
}
.inside {
  position: absolute;
  height: 70vh;
  width: 100vw;
  text-align: center;
  color: white;
}
.inside .bagfour {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 100px;
}
.inside #message {
  height: 40vh;
  width: 60vw;
  margin: 30px;
  color: aliceblue;
  font-weight: bolder;
}
#name,
#email,
#message {
  background: transparent;
}
::placeholder {
  color: aliceblue;
  font-weight: bolder;
  text-align: start;
}
#message {
  margin-bottom: 35vh;
}

.seven {
  height: 10vh;
  width: 100vw;
}
.seven .footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 500px;
}
